<div id="<%= dom_id concert %>">
  <p>
    <strong>Attendance:</strong>
    <%= concert.attendance %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= concert.duration %>
  </p>

  <p>
    <strong>Placedate:</strong>
    <%= concert.placedate %>
  </p>

</div>
